<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">

    <Appenders>
        <File name="error-log" fileName="log/snpm_error.log" append="true" immediateFlush="true">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n"/>
        </File>
        <File name="trace-log" fileName="log/snpm_trace.log" append="true" immediateFlush="true">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n"/>
        </File>
        <File name="debug-log" fileName="log/snpm_debug.log" append="true" immediateFlush="true">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n"/>
        </File>
       
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n"/>
        </Console>
         
    </Appenders>

    <Loggers>
        <Root level="debug" additivity="false">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="error-log" level="error"  />
            <AppenderRef ref="trace-log" level="info" />
            <AppenderRef ref="debug-log" level="debug" />
        </Root>
    </Loggers>

</Configuration>